<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_JSON">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
        <includeContextName>false</includeContextName>
        <includeLevel>true</includeLevel>
        <includeLoggerName>false</includeLoggerName>
        <includeMDC>true</includeMDC>
        <includeSpanId>true</includeSpanId>
        <includeThreadName>false</includeThreadName>
        <includeTraceId>true</includeTraceId>
      </layout>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="CONSOLE_JSON"/>>
  </root>
</configuration>
