.nav-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#user-name {
    font-weight: 500;
    margin-right: 10px;
}

#user-photo {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid white;
}

.hide-content {
    display: none;
}

#suggestions {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Hide by default, show when needed */
}

#suggestions .collection-item {
    cursor: pointer;
}

#suggestions .collection-item:hover {
    background-color: #eee;
}

.delete-btn:hover {
    color: red;
    opacity: 0.8;
}

.chip {
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
}

.chip-interested {
    background-color: #80cbc4; /* teal lighten-4 */
    color: #000;
}

.chip-learning {
    background-color: #4db6ac; /* teal lighten-2 */
    color: #000;
}

.chip-using {
    background-color: #00796b; /* teal darken-2 */
    color: #fff;
}

.chip-used {
    background-color: #004d40; /* teal darken-4 */
    color: #fff;
}

.chip-fixed-width {
    width: 100px;
    display: inline-flex;
    justify-content: center;
}

.brand-logo-small {
    font-size: 1.6rem; /* Adjust this value according to your preference */
}